.containerLogin{
    padding-top: 150px;
    padding-bottom: 40px;
    padding-left: 150px;
    width: 100%;
    height: 100%;
    position: relative;
}

.adminLogic{
    width: 100%;
    height: 100%;
    position: relative;
}

.myBackgroundStyle{
    background-image: url('https://www.mhp.com/fileadmin/www.mhp.com/assets/og/mhp_opengraph.jpg') !important;
}

.inputLogin{
    width: 20rem;
}

.dialogText{
    padding: 10px;
}

.sapMInputBase.sapMTextArea .sapMTextAreaInner {
    line-height: 1.4;
    width: 400px !important;
    padding: .625rem .75rem;
    -webkit-overflow-scrolling: touch;
}

.sapMImg{
    width: 170px;
    text-align: right !important;
}

html.sap-desktop .sapContrast.sapMIBar.sapMFooter-CTX {
    background-color: #1f415e !important;
    width: 99.5%;
}

/* html.sap-desktop .sapContrast.sapMIBar.sapMFooter-CTX {
    background-color: #eff4f9;
    border-top: 1px solid #475b6d;
} */

.sapContrast span.sapMBtnInner.sapMBtnAccept {
    background-color: #359435;
    color: #eff4f9;
}

.sapContrast span.sapMBtnInner.sapMBtnReject {
    background-color: rgb(175, 43, 43);
    color: #eff4f9;
}


.sapMMessageToastDanger {
    color: #D8000C !important;
    background-color: #FFD2D2 !important;
    border: 1px solid #D8000C !important;
    border-left: 7px solid #D8000C !important;
}

.sapMMessageToastSuccess {
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
    border: 1px solid #4F8A10 !important;
    border-left: 7px solid #4F8A10 !important;
}

.sapMMessageToastWarning {
    color: #9F6000 !important;
    background-color: #FEEFB3 !important;
    border: 1px solid #9F6000 !important;
    border-left: 7px solid #9F6000 !important;
}

.sapMInput {
    height: 30px !important;
    font-size: 0.5rem !important;
}

.sapMSlt {
    height: 30px;
}

.sapMSlt>.sapMSltLabel {
    width: 100%;
    line-height: 1.7rem;
}

.sapMSltArrow {
    line-height: 1.7rem;
}

input {
    height: 100% !important;
    font-size: 1rem !important;
}

input[type="Password"] {
    height: 100% !important;
    font-size: 1rem !important;
}

input[type="Email"] {
    height: 100% !important;
    font-size: 1rem !important;
}

.sapUiSearchField {
    height: 35px;
    font-size: 2.5rem !important;
}

.sapUiTfCombo:hover {
    height: 2rem;
    font-size: 2.5rem !important;
}

.sapMInputBaseInner::placeholder {
    font-size: 1rem !important;
}
